{{define "index"}}
{{template "header" .}}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
        <div class="container-fluid">
            <h1 class="display-3">信息分析及解读工具合集</h1>
        </div>
    </div>

	<div class="container-fluid">
        <div class="card-deck mb-3">
			<div class="card mb-4 shadow-sm">
				<div class="card-header text-center">
					<h2 style="width:auto">信息分析工具</h2>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header text-center">
					<h2 style="width:auto">样本解读工具</h2>
				</div>
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="container" id="kinship">
								<h3 class="card-title">
									<a style="color:black" href="kinship" role="button">亲缘关系分析 &raquo;</a>
								</h3>
								<p>上传家系VCF自动分析亲缘关系</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
        </div>
    </div> <!-- /container -->
</main>
{{template "footer" .}}
{{end}}
